* text=auto !eol
/LICENSE -text
/NOTICE -text
/TODO -text
frontend/pom.xml -text
frontend/src/main/java/org/onehippo/forge/settings/management/FeatureConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/FeatureConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/SettingsPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/SettingsPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/SettingsPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/SettingsPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/SettingsPlugin.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/SettingsPlugin.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/SettingsPlugin_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/TabPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/TabPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/TabPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/TabPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/ValidationStyleBehavior.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/callout.gif -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/CMSFeatureConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/ConfigUtil.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/LoadableDetachableConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/autoexport/AutoExportConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/autoexport/AutoExportConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/autoexport/AutoExportConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/autoexport/AutoExportConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/autoexport/AutoExportConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/brokenlinks/BrokenLinksCheckerConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/brokenlinks/BrokenLinksCheckerConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/brokenlinks/BrokenLinksCheckerConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/brokenlinks/BrokenLinksCheckerConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/brokenlinks/BrokenLinksCheckerConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/brokenlinks/BrokenlinksCheckerConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/eventlog/EventLogConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/eventlog/EventLogConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/eventlog/EventLogConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/eventlog/EventLogConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/eventlog/EventLogConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/formdata/FormdataConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/formdata/FormdataConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/formdata/FormdataConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/formdata/FormdataConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/formdata/FormdataConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/formdata/FormdataConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/loginpage/LoginConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/loginpage/LoginConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/loginpage/LoginPageConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/loginpage/LoginPageConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/loginpage/LoginPageConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/loginpage/LoginPageConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/ChangePasswordConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/ChangePasswordConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/HippoSecurityConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/HippoSecurityConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/PasswordPoliciesConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/PasswordPoliciesConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/PasswordPoliciesConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/PasswordPoliciesConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/PasswordValidationConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/passwordpolicies/PasswordValidationConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/social/SocialMediaConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/social/SocialMediaConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/social/SocialMediaConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/social/SocialMediaConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/social/SocialMediaService.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/social/SocialMediaServiceConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/social/SocialMediaServiceConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetUploadConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetUploadConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetUploadConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetUploadConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetUploadSettingConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetValidationServiceConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetValidationServiceConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetValidationServiceConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetValidationServiceConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetValidationServiceConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/AssetValidationServiceConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageUploadConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageUploadConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageUploadConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageUploadConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageUploadSettingConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageValidationServiceConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageValidationServiceConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageValidationServiceConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageValidationServiceConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageValidationServiceConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/ImageValidationServiceConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/upload/UploadSettingsConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/usermanagement/UserManagementConfig.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/usermanagement/UserManagementConfigModel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/usermanagement/UserManagementConfigPanel.html -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/usermanagement/UserManagementConfigPanel.java -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/usermanagement/UserManagementConfigPanel.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/config/usermanagement/UserManagementConfigPanel_nl.properties -text
frontend/src/main/java/org/onehippo/forge/settings/management/folder-choose.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/questn.gif -text
frontend/src/main/java/org/onehippo/forge/settings/management/settings-info-48.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/settings-panel.css -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/animated-overlay.gif -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-bg_flat_0_aaaaaa_40x100.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-bg_flat_75_ffffff_40x100.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-bg_glass_55_fbf9ee_1x400.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-bg_glass_65_ffffff_1x400.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-bg_glass_75_dadada_1x400.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-bg_glass_75_e6e6e6_1x400.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-bg_glass_95_fef1ec_1x400.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-bg_highlight-soft_75_cccccc_1x100.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-icons_222222_256x240.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-icons_2e83ff_256x240.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-icons_454545_256x240.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-icons_888888_256x240.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/images/ui-icons_cd0a0a_256x240.png -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/jquery.ui.accordion.css -text
frontend/src/main/java/org/onehippo/forge/settings/management/ui/jquery.ui.theme.css -text
/pom.xml -text
repository/pom.xml -text
repository/src/main/resources/assetupload-validation.xml -text
repository/src/main/resources/assetupload.xml -text
repository/src/main/resources/autoexport.xml -text
repository/src/main/resources/brokenlinkschecker.xml -text
repository/src/main/resources/cms-admin-settings.xml -text
repository/src/main/resources/eventlog.xml -text
repository/src/main/resources/formdata.xml -text
repository/src/main/resources/hippoecm-extension.xml -text
repository/src/main/resources/imageupload-validation.xml -text
repository/src/main/resources/imageupload.xml -text
repository/src/main/resources/loginpage.xml -text
repository/src/main/resources/passwordpolicies.xml -text
repository/src/main/resources/socialmedia.xml -text
repository/src/main/resources/usermanagement.xml -text
src/site/markdown/features.md -text
src/site/markdown/index.md -text
src/site/markdown/install.md -text
src/site/markdown/screenshots.md -text
src/site/resources/images/admin_panel.png -text
src/site/resources/images/hippo-logo.png -text
src/site/resources/images/settings-panel.png -text
src/site/site.xml -text
